p.speech {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    color: black;
}
p.direction{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: beige;
}
p.direction:hover{
    color: darkgreen;
    background-color: azure;
}
h5.name{
    color: blueviolet;
}

table,th,td{
    border: 1px solid;
    width: auto;
    text-align: center;
    padding: 30px;
    margin: 10px; 
}
th{
    color:blueviolet;
    background-color: beige;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }